#!/usr/bin/env xdg-open
[Desktop Entry]
Version=
Name=CsoundPlayHalfSpeed
Comment=
GenericName=
Keywords=
Exec=/usr/local/bin/run_csound.sh --omacro:Filename=%f --omacro:Speed=2 /home/tom/utilities/playbackDifferentSpeed.csd
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
StartupNotify=
Actions=
